<section data-bind="if: typeof command !== 'undefined'" class="container" >
    <div class="command_tooltip" style="display: none;">
        <b>The task is assigned has been closed.</b>
    </div>
    <form action="{{ path('app_command_send') }}" class="command_form" method="post" data-bind="with: command">
        {{ form_widget(form.text, { attr : { 'data-bind': "attr: { placeholder: placeholder }" } }) }}
        {{ form_rest(form) }}
        <button id="command_send" class="btn">Send</button>
        <button id="command_send" class="btn"  href="#myModal" role="button" class="btn" data-toggle="modal">Help</button>
    </form>

    <div class="modal" style="display: none;" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Commands Help</h3>
      </div>
      <div class="modal-body">
        <p>
            To create a new task or perform actions on a task you may use the command line. To see all availalbe
            commands start typing <b>@</b>.
        </p>
        <p>Examples:</p>
    <pre>
    @create It's a new task
    hello!
    </pre>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
</section>
