@import "common.less";

.sf-toolbarreset {
    bottom: 62px !important;
}

body {
    padding-bottom: 90px;
    background: url(/bundles/entvalleyapp/images/background.png);
    overflow-y: scroll;

    > .container > .row > .span12,  > .container > .row > .span6 {
        background-color: #ffffff;
        padding: 10px;
        .box-shadow(1px 1px 7px 0px rgba(0, 0, 0, 0.2));
    }

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) and (max-width: 979px) {
    body > .container > .row  >.span12 {
        width: 704px;
    }
}

@media (min-width: 1200px) {
    body > .container > .row  >.span12 {
        width: 1130px;
        padding: 20px;
    }

}

@media (max-width: 767px) {
    .main .navbar-fixed-top,
    .main .navbar-fixed-bottom {
        padding-right: 20px;
        padding-left: 20px;
    }

    .main .navbar .picture {
    }

}

.hidden-link {
    font-size: 12px;
    margin-left: 4px;
}

.remove-link {
    color: #CC0000;
}

.navbar-inner {
   .border-radius(0px);
}


.navbar {
    margin-bottom: 40px;


    .topbar {
        .border-radius(4px);
        margin: 12px 0 2px;
        display: inline-block;

        ul {
            margin: 0 4px;
        }

    }

    .logo-inner {
        margin: 13px 0 14px;
    }

    .nav > li > a {
        padding: 15px 10px 11px;
    }

    .project {
        background-color: #434343;
        color: #888;
        margin: 7px 10px 7px;

        .expand {
            font-family: Typicons;
            color: #777;
            font-size: 18px;
            vertical-align: middle;
        }

        ul {
            margin: 0;
            list-style-type: none;
        }

        .dropdown-menu .divider {
            background-color: #444;
            border-bottom: 1px solid #333;
        }

        > ul > li, .dropdown-menu ul li {
            margin: 0;
            padding: 6px 12px;
        }

        .dropdown-menu {
            background-color: #333;
            .border-radius(0px);
        }

        ul > li > a {
            color: inherit;
            text-decoration: none;
            margin: 0;
        }

        ul > li > a:hover {
            color: white;
        }
    }
}

.topbar ul {
    list-style-type: none;
    display: block;
    position: relative;
    float: left;
}

.navbar > .navbar-inner > .container > ul > li {
    display: block;
    float: left;
    margin-right: 8px;
    font-family: 'Quicksand Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar .nav > li > a

.navbar .username {
    display: block;
    float: left;
}

.navbar a.username {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
    position: relative;
}

@picture-padding: 10px;
.navbar .picture {
    float: left;
    position: relative;
    margin: -@picture-padding @picture-padding+2 -@picture-padding - 4 -0;

}

.main .navbar .picture {
    margin: 0px;
}

@summary-done-color: #b5b5b5;
@summary-inprogress-color: #84cee7;
@summary-unresolved-color: #e9da85;
@summary-background: #443f41;

.task {
    position: relative;

    .status-header {
        position: absolute;
        background-image: url(/bundles/entvalleyapp/images/task-status-background.png);
        height: 16px;
        font-size: 12px;
        padding: 4px 8px;
        margin-bottom: -30px;
        color: white;
        font-family: Arial, sans-serif;
        top: -44px;
        display: table-cell;
    }


    .status-notify {
        position: fixed;
        top: 66px;
    }
}

.task-list {
    position: relative;
}

.actions-header {
    position: absolute;
    height: 16px;
    font-size: 12px;
    padding: 4px 8px;
    margin-bottom: -30px;
    color: white;
    font-family: Arial, sans-serif;
    top: -44px;
    right: -16px;
    display: table-cell;

    ul {
        list-style-type: none;
    }
    .action {
        padding: 0px 10px;
        background-color: #0f76d5;
        float: left;
        font-size: 11px;
        .border-radius(4px 4px 0 0);
    }

    .action a {
        color: white;
    }
}

.status-reopened {
    background-color: #88af0b;

}

.status-closed {
    background-color: #272727;
}

.status-accepted {
    background-color: #0191ba;

}

.status-unassigned {
    background-color: #b43319;

}

.status-rejected {
    background-color: #b4a619;
}

.status-wontfix {
    background-color: #aaaaaa;
}

.navbar .summary {
    padding: 4px 2px;
    .border-radius(6px);
    overflow: auto;
    display: inline-block;
    font-size: 12px;
    margin: -6px 0 -12px 14px;

    a {
        color: black;
    }

    .done {
        background-color: @summary-done-color;

        .arrow {
            border-top-color: @summary-done-color;
        }
    }

    .inprogress {
        background-color: @summary-inprogress-color;

        .arrow {
            border-top-color: @summary-inprogress-color;
        }
    }

    .unresolved {
        background-color: @summary-unresolved-color;

        .arrow {
            border-top-color: @summary-unresolved-color;
        }
    }

    .done, .inprogress, .unresolved {
        color: #000;
        .box-shadow(inset 1px 1px 7px 0px rgba(0, 0, 0, 0.2));
        float: left;
        position: block;
        padding: 3px 12px;
        text-align: center;
        margin: 0 2px;
    }

    p {
        font-family: Arial;
        font-size: 10px;
        margin: 0;
    }

    .arrow,
    .arrow:after {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    .arrow:after {
        z-index: -1;
        content: "";
    }

    .arrow {

        top: 35px;
        margin-left: -8px;
        border-width: 6px 6px 0;
    }
}

.tools {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 45px 0px;
    z-index: 6000001;
    background-color: #dcdce0;
    border-top: 2px solid #adadad;

    textarea {
        .box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.2));
        width: 500px;
        height: 40px;
        max-height: 120px;
        resize: none;
        margin-bottom: 4px;
    }

    form {
        margin: 0;
    }

    .command_tooltip {
        background-color: #fffac4;
        position: absolute;
        top: -56px;
        height: 40px;
        border: 1px solid #d9daab;
        width: 490px;
        font-size: 11px;
        color: black;
        padding: 5px 10px;
    }

    .command_tooltip:after {
        bottom: 15px;
        left: 4px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        max-height: 100px;
        .box-shadow(0 15px 2px rgba(0, 0, 0, 0.3));
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);

    }

    .command_tooltip:before,
    .command_tooltip:after {
        content: "";
        position: absolute;
        z-index: -2;
    }
}

.separator {
    background: url('/bundles/entvalleyapp/images/separator.png');
    height: 9px;
    width: 100%;
}

ul.separated-list > li {
    background: url('/bundles/entvalleyapp/images/separator.png') repeat-x;
    padding: 14px 0;
    margin: 0;
}

.comments {
    ul.separated-list > li {
        background: none;
        border-bottom: 2px solid #ededed;
    }

    .about {
        color: #919191;
        font-size: 85%;
    }

    .status-change {
        font-size: 11px;
        color: #6c6c6c;

        p {
            margin: 0;
        }

        .status-line {
            margin-top: 5px;
            height: 5px;
        }
    }

}

ul.separated-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@link-color: #0662aa;

.message-title {
    font-size: 16px;
}

.message {
    .created-at {
        color: #999;
    }
}

.message-info {
    background-color: #f0f0f0;
    padding: 8px;
    .border-radius(4px);
    font-size: 10px;
    line-height: 120%;
    width: 65px;
    margin-right: 10px;
    float: left;
    font-family: "Open Sans";

    .created-at {
        text-transform: uppercase;
        font-size: 11px;
        color: black;
    }

    .comments-number {
        display: block;
        margin-top: 4px;
        font-weight: bold;

        .icon {
            font-family: Typicons;
            vertical-align: middle;
            font-size: 15px;
            color: #a0a0a0;

        }
    }

    .status {
        display: block;
        text-align: center;
        padding: 3px 2px;
        margin: 5px -8px -8px;
        color: white;
        .border-radius(0px 0px 4px 4px);
    }

}

.reportedby {
    font-family: "PT Sans", sans-serif;
    color: #666;
    font-size: 12px;
    text-align: right;
    margin: 0;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    padding: 0px 10px;
    float: right;
    display: inline;
    .box-shadow(inset rgba(30, 30, 30, 0.12) 1px 1px 3px);
}

ul.auto-list {
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    border: 1px solid #B2B2B2;
    padding: 0;
    margin: 0;
    list-style: none;

    .border-radius(4px);
    .box-shadow(0px 1px 4px rgba(0, 0, 0, 0.163));

    >li:hover, >li[data-selected=true] {
        background-color: #F2F2F2;
    }

    >li {
        cursor: default;
        padding: 4px;
        border-bottom: 1px solid #EEE;
        .border-radius(3px);
        color: black;
    }

    mark {
        background: none repeat scroll 0 0 transparent;
        font-weight: bold;
    }
}

.main {
    .topbar {
        margin: 30px 10px 53px;
        background-color: transparent;
    }

    .navbar-inner {
        .box-shadow(none);
        background: black url(/bundles/entvalleyapp/images/line-background.png) left bottom repeat-x;
    }

    .intro p {
        font-family: "Source Sans Pro", Georgia, Arial, Tahoma, serif;
        font-size: 30px;
        line-height: 120%;
        margin: 20px 0;
    }

    .intro p:first-child {
        color: #1b6eaf;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: absolute;
    }
}

body.main {
    padding-top: 150px;
}

.sign-block {
    margin-top: -77px;
    z-index: 10000;
    background-color: white;
    position: relative;
    border: 5px solid rgb(212, 212, 212);
    padding: 10px;
    border: 5px solid rgba(125, 125, 125, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    form {
        margin-top: 18px;
    }
}

hr {
    border-top: none;
    border-bottom: 1px solid #dcdcdc;
}

footer {
    color: #a1a1a1;
}

#status {
    position: fixed;
    text-align: center;
    top: -8px;
    height: 20px;
    padding: 4px;
    width: 100%;
    z-index: 9999;

    .text {
        display: inline-block;
        border: 2px solid #daca80;
        .border-radius(3px);
        padding: 3px 10px;
        background-color: #fef5cd;
    }

    &.error .text {
        background-color: #d5200f;
        color: white;
        border: 2px solid #d5200f;
    }
}

input,
button,
select,
textarea {
    font-family: inherit;
}

label {
    color: #888;
}

.btn {
    padding: 1px 12px;
    font-size: 12px;
    background-color: #f9f9f9;
    *background-color: #f9f9f9;
    background-image: none;
    border: 1px solid #c1c1c1;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #c1c1c1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: none;
}

.form-page {

    .row-separator {
        border-top: 1px dotted #ccc;
        height: 1px;
        content: " ";
        margin-bottom: 10px;
        width: 100%;
    }

    input:focus:required:invalid:focus,
    textarea:focus:required:invalid:focus,
    select:focus:required:invalid:focus {
        border-color: #f8b9b7;
        -webkit-box-shadow: 0 0 2px #f8b9b7;
        -moz-box-shadow: 0 0 2px #f8b9b7;
        box-shadow: 0 0 2px #f8b9b7;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    textarea {
        resize: none;
    }

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        border: 1px solid transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .control-label {
        float: left;
        width: 80px;
        padding-top: 5px;
        text-align: left;
    }

    .controls {
        margin-left: 90px;
    }

    .control-group {
        margin-bottom: 10px;

    }

    textarea {
        padding: 0px;
    }
}

form .help {
    font-size: 11px;
}

.projects_row {
    .project {
        border: 1px solid #e0e0e0;
        padding: 4px;
        margin-bottom: 20px;
        .box-shadow(1px 1px 1px rgba(0, 0, 0, 0.10));


        .legend {
            font-size: 12px;

            > div {
                margin: 2px 0;
            }
        }
    }
}


@media (max-width: 1199px) {
    .actions-header, .task .status-header {
        top: -34px;
    }
}

@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    .projects_row {
        .project {
            padding: 5px;
            border: 1px solid #e0e0e0;
            .legend {
                > div {
                    display: inline;
                    margin-right: 4px;
                }
            }
        }
    }
}
