{% extends 'EntvalleyAppBundle::layout.html.twig' %}

{% macro message_summary(with_status) %}
    <div class="message-info">
        <span class="created-at" data-bind="text: shortCreatedOnDate"></span>
        <span class="comments-number"><span
                data-bind="text: numberOfComments"></span> answers</span>
        {% if with_status %}
            <span data-bind="text: statusName, attr: { class: 'status status-' + statusName() }"></span>
        {% endif %}
    </div>
{% endmacro %}

{% set section = 'project' %}
{% block content %}
    <div class="task" data-bind="with: chosenTask, attr: { id: chosenTask() ? 'task-' + chosenTask().id : null }" xmlns="http://www.w3.org/1999/html">
        <div class="status-header" data-bind="toggleStatusIcon: status"></div>
        <div class="actions-header">
            <ul>
                <li class="action">
                    <a class="btn" href="#edit-task" data-bind="click: editTask"><i class="icon-pencil"></i>Edit</a>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="message">
                <p>
                    <span class="created-at" data-bind="dateString: { date: date, type: 'format', format: 'LL' }"></span>
                    <span class="message-title" data-bind="text: title"></span>
                </p>

                <p data-bind="html: safeBody"></p>

                <p class="reportedby"><span data-bind="text: author"></span> at
                    <span data-bind="text: formatDate(date)"></span>.
                    <span data-bind="if: typeof assignedTo() !== 'undefined'">Taken by <b
                            data-bind="text: assignedTo().username"></b>.</span>
                </p>
            </div>
        </div>

        <hr>

        <div class="comments">
            <ul data-bind="foreach: {data: comments, beforeRemove: hideComment, afterAdd: afterCommentAdded }" class="separated-list">
                <li class="comment" data-role="hovercontainer" data-bind="attr: { id: 'comment-' + id }">
                    <div class="row-fluid">
                        <div class="span10">
                            <p>
                                <b data-bind="text: username"></b>
                                <time class="about" data-bind="dateString: { date: createdAt, type: 'fromnow' }"></time>

                                <a data-bind="click: edit" href="#edit-comment" data-behaviour="showonhover" class="hidden-link" style="display: none">Edit</a>
                                <a data-bind="click: remove" href="#remove-comment" data-behaviour="showonhover" class="hidden-link remove-link remove-comment" style="display: none">Remove</a>
                            </p>
                            <p class="text" data-bind="html: safeText"></p>
                        </div>

                        <div class="span2 status-change" data-bind="visible: statusChanged">
                            <p data-bind="text: statusNameCapitalized()"></p>
                            <p data-bind="dateString: { date: statusChangeDate, type: 'format', format: 'LLL' }"></p>

                            <p data-bind="attr: { class: 'status-line status-'  + statusName() }"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% if tasks is defined and tasks|length <= 0 %}
        <div data-bind="visible: !tasks().length && !chosenTask()">
            <h3>No task has been created yet</h3>

            <p>To begin you need to create a new task. Just put the description in the input in the bottom.
                After you press the send button it'll be created immediately.</p>
        </div>
    {% endif %}

    <div class="task-list" data-bind="visible: tasks().length && !chosenTask()">
          <div class="actions-header">
              <ul>
                  <li class="action">
                      <a class="btn" href="{{ path('app_project_settings', { project: project.id, project_name: project.canonicalName }) }}"><i class="icon-cogs"></i>Settings</a>
                  </li>
              </ul>
          </div>

        <h4>Tasks of {{ project.getName() }}</h4>

        <ul data-bind="foreach: {data: tasks, beforeRemove: hideTask }" class="separated-list">
            <li data-bind="attr: { id: 'task-item-' + id }">
                <div class="row-fluid">
                    {{ _self.message_summary(true) }}
                    <div class="message">
                        <a class="message-title"
                           data-bind="text: title, attr: { href: url }"></a>

                        <p class="reportedby"><span data-bind="text: author"></span> at
                            <span data-bind="text: formatDate(date)"></span>.
                            <span data-bind="if: typeof assignedTo() !== 'undefined'">Taken by <b
                                    data-bind="text: assignedTo().username"></b>.</span>
                        </p>
                        <p class="excerpt" data-bind="html: excerpt"></p>

                    </div>
                </div>
            </li>
        </ul>
    </div>

    <ul class="pager pager-mini" data-bind="visible: showPages()">
      <li class="previous" data-bind="visible: nextPage()">
        <a data-bind="attr: { href: nextPage() }">&larr; Older</a>
      </li>
      <li class="next" data-bind="visible: previousPage()">
        <a data-bind="attr: { href: previousPage() }">Newer &rarr;</a>
      </li>
    </ul>

{% endblock %}