{% extends 'EntvalleyAppBundle::layout.html.twig' %}

{% macro message_summary(with_status) %}
    <div class="message-info">
        <span class="created-at" data-bind="text: createdAt"></span>
        <span class="comments-number"><span
                data-bind="text: numberComments"></span> answers</span>
        {% if with_status %}
            <span data-bind="text: statusName, attr: { class: 'status status-' + statusName() }"></span>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}

    <div class="task" data-bind="with: chosenTask, attr: { id: chosenTask() ? 'task-' + chosenTask().id : null }" xmlns="http://www.w3.org/1999/html">
        <div class="status-header" data-bind="toggleStatusIcon: status"></div>
        <div class="actions-header">
            <ul>
                <li class="action">
                    <a href="#edit-task" data-bind="click: editTask">Edit</a>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="message">
                <p>
                    <span class="created-at" data-bind="text: createdAt"></span>
                    <span class="message-title" data-bind="text: title"></span>
                </p>

                <p data-bind="html: safeBody"></p>

                <p class="reportedby"><span data-bind="text: author"></span> at
                    <span data-bind="text: formatDate(date)"></span>.
                    <span data-bind="if: typeof assignedTo() !== 'undefined'">Taken by <b
                            data-bind="text: assignedTo().username"></b>.</span>
                </p>
            </div>
        </div>

        <hr>

        <div class="comments">
            <ul data-bind="foreach: comments" class="separated-list">
                <li>
                    <div class="row-fluid">
                        <div class="span10">
                            <p>
                                <b data-bind="text: username"></b>
                                <span class="about" data-bind="text: createdAt"></span>
                            </p>

                            <p data-bind="text: text"></p>
                        </div>

                        <div class="span2 status-change" data-bind="visible: statusChanged">
                            <p data-bind="text: statusNameCapitalized() + ' ' + statusChangeDate()"></p>

                            <p data-bind="attr: { class: 'status-line status-'  + statusName() }"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% if tasks is defined and tasks|length <= 0 %}
        <div data-bind="visible: !tasks().length && !chosenTask()">
            <h3>No task has been created yet</h3>

            <p>To begin you need to create a new task. Just put the description in the input in the bottom.
                After you press the send button it'll be created immediately.</p>
        </div>
    {% endif %}

    <div class="task-list" data-bind="visible: tasks().length && !chosenTask()">
        <ul data-bind="foreach: {data: tasks, beforeRemove: hideTask }" class="separated-list">
            <li data-bind="attr: { id: 'task-item-' + id }">
                <div class="row-fluid">
                    {{ _self.message_summary(true) }}
                    <div class="message">
                        <a class="message-title"
                           data-bind="text: title, attr: { href: url }"></a>

                        <p data-bind="html: safeBody"></p>

                        <p class="reportedby"><span data-bind="text: author"></span> at
                            <span data-bind="text: formatDate(date)"></span>.
                            <span data-bind="if: typeof assignedTo() !== 'undefined'">Taken by <b
                                    data-bind="text: assignedTo().username"></b>.</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}