{% extends 'EntvalleyAppBundle::layout.html.twig' %}

{% block content %}
    <div class="task" data-bind="with: chosenTask">
        <div class="status-header" data-bind="toggleStatusIcon: status"></div>
        <a class="btn" href="{{ path('app_task_list') }}" data-bind="click: $root.goToTaskList">List of tasks</a>
        <a href="#" class="btn btn-danger">Delete</a>
        <hr>
        <p><b>The task is <span data-bind="text: status"></span>; Title: </b> <span data-bind="text: title"></span></p>

        <p data-bind="text: text"></p>

        <p>Comments: <span data-bind="text: comments().length"></span></p>

        <div class="comments">
            <ul data-bind="foreach: comments" class="separated-list">
                <li>
                    <div class="row-fluid" data-bind="text: text">

                    </div>
                    <p>Created by <span data-bind="text: username"></span></p>
                </li>
            </ul>
        </div>
    </div>

    {% if tasks|length < 0 %}
    <div data-bind="visible: !tasks().length && !chosenTask()">
        <h3>No task has been created yet</h3>
        <p>To begin you need to create a new task. Just put the description in the input in the bottom.
        After you press the send button it'll be created immediately.</p>
    </div>
    {% endif %}

    <div class="task-list" data-bind="visible: tasks().length && !chosenTask()">
        <a class="btn" href="{{ path('app_task_create') }}">Create a task</a>
        <ul data-bind="foreach: {data: tasks, beforeRemove: hideTask }" class="separated-list">
            <li data-bind="attr: { id: 'task-item-' + id }">

                <div class="row-fluid">
                    <div class="message-info span1">
                        <span class="daynumber" data-bind="text: createdAtDay"></span>
                        <span class="month" data-bind="text: createdAtMonth"></span>
                        <span class="comments-number"><span class="icon">\</span> <span data-bind="text: numberComments"></span></span>
                        <span data-bind="text: statusName, attr: { class: 'status status-' + statusName() }"></span>
                    </div>
                    <div class="span11">
                        <a class="message-title"
                           data-bind="text: title, click: $root.goToTask, attr: { href: url }"></a>

                        <p data-bind="text: text"></p>

                        <p class="reportedby"><span data-bind="text: author"></span> at
                            <span data-bind="text: formatDate(date)"></span>.
                            <span data-bind="if: typeof assignedTo() !== 'undefined'">Taken by <b data-bind="text: assignedTo().username"></b>.</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}