{% extends 'EntvalleyAppBundle::layout.html.twig' %}

{% set section = 'accept_invitation' %}
{% block content %}
    <div class="row">
        <div class="span12">
            Thank you for accepting the invitation
        </div>
    </div>
{% endblock %}