<form method="post" action="{{ path('app_project_create') }}">
    <legend>Start a new project</legend>
    <label>Name your new project</label>

    <div{% if form.name.vars.errors|length > 0 %} class="error control-group"{% endif %}>
        <div class="controls">
            {{ form_widget(form.name, { attr: { class: "input-xlarge" } }) }}
            {% if form.name.vars.errors|length > 0 %}
                {% for error in form.name.vars.errors %}
                    <p class="help">{{ error.message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <p>
        {{ form_rest(form) }}
        <button type="submit" class="btn">Start it</button>
        or
        <button type="button" data-role="cancel" class="btn">Cancel</button>
    </p>
</form>

