<div class="edit-comment">
<form method="post" class="form-page form-horizontal" action="{{ path("app_comment_edit", { id: comment.id }) }}" xmlns="http://www.w3.org/1999/html">
    <div class="editable-area">
        {{ form_errors(form) }}
        <div class="control-group">
                {{ form_widget(form.text, { attr: { 'data-behaviour': 'autosize wysiwyg', 'class': 'span12'} }) }}
        </div>
    </div>

    <div class="control-group">
            {{ form_widget(form._token) }}
            <input class="btn btn-primary" type="submit" value="Save Changes"/>
            <a class="btn cancel" href="#cancel">Cancel</a
    </div>
</form>
</div>